body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1917px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2458 {
  position:absolute;
  left:218px;
  top:70px;
  width:1677px;
  height:871px;
  overflow:hidden;
  visibility:hidden;
}
#u2458_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1677px;
  height:871px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2458_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1715px;
  height:1049px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.686274509803922);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2459 {
  position:absolute;
  left:-3px;
  top:-56px;
  width:1715px;
  height:1049px;
}
#u2460 {
  position:absolute;
  left:2px;
  top:516px;
  width:1711px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:265px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2461 {
  position:absolute;
  left:604px;
  top:267px;
  width:477px;
  height:265px;
}
#u2462 {
  position:absolute;
  left:2px;
  top:124px;
  width:473px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2463 {
  position:absolute;
  left:671px;
  top:366px;
  width:343px;
  height:22px;
  font-size:18px;
}
#u2464 {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  white-space:nowrap;
}
#u2465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(16, 174, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2465 {
  position:absolute;
  left:687px;
  top:478px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u2466 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u2467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2467 {
  position:absolute;
  left:859px;
  top:478px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u2468 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u2469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
}
#u2469 {
  position:absolute;
  left:1061px;
  top:274px;
  width:12px;
  height:22px;
  font-size:18px;
  color:#666666;
}
#u2470 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u2471 {
  position:absolute;
  left:687px;
  top:478px;
  width:140px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2472 {
  position:absolute;
  left:859px;
  top:478px;
  width:140px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2473 {
  position:absolute;
  left:1048px;
  top:265px;
  width:33px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:2px;
}
#u2474 {
  position:absolute;
  left:604px;
  top:458px;
  width:477px;
  height:1px;
}
#u2475 {
  position:absolute;
  left:2px;
  top:-8px;
  width:473px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1670px;
  height:871px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2476 {
  position:absolute;
  left:218px;
  top:70px;
  width:1670px;
  height:871px;
}
#u2477 {
  position:absolute;
  left:2px;
  top:428px;
  width:1666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2478 {
  position:absolute;
  left:224px;
  top:83px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2479 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1671px;
  height:2px;
}
#u2480 {
  position:absolute;
  left:218px;
  top:118px;
  width:1670px;
  height:1px;
}
#u2481 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(16, 174, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2482 {
  position:absolute;
  left:783px;
  top:855px;
  width:140px;
  height:40px;
  font-size:18px;
  color:#FFFFFF;
}
#u2483 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u2484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2484 {
  position:absolute;
  left:976px;
  top:855px;
  width:140px;
  height:40px;
  font-size:18px;
}
#u2485 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u2486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2486 {
  position:absolute;
  left:749px;
  top:347px;
  width:82px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2487 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2488 {
  position:absolute;
  left:360px;
  top:213px;
  width:82px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2489 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2490 {
  position:absolute;
  left:848px;
  top:347px;
  width:155px;
  height:19px;
  font-size:16px;
}
#u2491 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u2492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2492 {
  position:absolute;
  left:461px;
  top:213px;
  width:134px;
  height:19px;
  font-size:16px;
}
#u2493 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u2494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1671px;
  height:2px;
}
#u2494 {
  position:absolute;
  left:218px;
  top:265px;
  width:1670px;
  height:1px;
}
#u2495 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2496 {
  position:absolute;
  left:749px;
  top:292px;
  width:50px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2497 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u2498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2498 {
  position:absolute;
  left:838px;
  top:292px;
  width:112px;
  height:19px;
  font-size:16px;
}
#u2499 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u2500_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1671px;
  height:2px;
}
#u2500 {
  position:absolute;
  left:218px;
  top:816px;
  width:1670px;
  height:1px;
}
#u2501 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2502 {
  position:absolute;
  left:749px;
  top:213px;
  width:107px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2503 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u2504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2504 {
  position:absolute;
  left:838px;
  top:213px;
  width:134px;
  height:19px;
  font-size:16px;
}
#u2505 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u2506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2506 {
  position:absolute;
  left:1733px;
  top:75px;
  width:140px;
  height:40px;
}
#u2507 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2508 {
  position:absolute;
  left:1733px;
  top:75px;
  width:140px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2509 {
  position:absolute;
  left:783px;
  top:855px;
  width:140px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2510 {
  position:absolute;
  left:976px;
  top:855px;
  width:140px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2511 {
  position:absolute;
  left:1583px;
  top:855px;
  width:140px;
  height:40px;
  font-size:18px;
}
#u2512 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u2513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2513 {
  position:absolute;
  left:360px;
  top:142px;
  width:82px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2514 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2515 {
  position:absolute;
  left:461px;
  top:142px;
  width:159px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2516 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u2517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2517 {
  position:absolute;
  left:1162px;
  top:142px;
  width:107px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2518 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u2519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2519 {
  position:absolute;
  left:1245px;
  top:142px;
  width:134px;
  height:19px;
  font-size:16px;
}
#u2520 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u2521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2521 {
  position:absolute;
  left:1576px;
  top:142px;
  width:107px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2522 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u2523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2523 {
  position:absolute;
  left:1693px;
  top:142px;
  width:134px;
  height:19px;
  font-size:16px;
}
#u2524 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u2525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u2525 {
  position:absolute;
  left:350px;
  top:85px;
  width:231px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u2526 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  word-wrap:break-word;
}
#u2527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u2527 {
  position:absolute;
  left:218px;
  top:134px;
  width:100px;
  height:35px;
  color:#FFFFFF;
}
#u2528 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2529_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1671px;
  height:2px;
}
#u2529 {
  position:absolute;
  left:218px;
  top:185px;
  width:1670px;
  height:1px;
}
#u2530 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u2531 {
  position:absolute;
  left:218px;
  top:205px;
  width:100px;
  height:35px;
  color:#FFFFFF;
}
#u2532 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2533 {
  position:absolute;
  left:749px;
  top:142px;
  width:107px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2534 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u2535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2535 {
  position:absolute;
  left:838px;
  top:142px;
  width:134px;
  height:19px;
  font-size:16px;
}
#u2536 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u2537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u2537 {
  position:absolute;
  left:218px;
  top:282px;
  width:100px;
  height:35px;
  color:#FFFFFF;
}
#u2538 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1671px;
  height:2px;
}
#u2539 {
  position:absolute;
  left:218px;
  top:445px;
  width:1670px;
  height:1px;
}
#u2540 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u2541 {
  position:absolute;
  left:218px;
  top:466px;
  width:100px;
  height:35px;
  color:#FFFFFF;
}
#u2542 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2543_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2543 {
  position:absolute;
  left:362px;
  top:474px;
  width:70px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2544 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u2545_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1671px;
  height:2px;
}
#u2545 {
  position:absolute;
  left:218px;
  top:649px;
  width:1670px;
  height:1px;
}
#u2546 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2547_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u2547 {
  position:absolute;
  left:218px;
  top:669px;
  width:100px;
  height:35px;
  color:#FFFFFF;
}
#u2548 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2549 {
  position:absolute;
  left:491px;
  top:476px;
  width:710px;
  height:163px;
}
#u2549_input {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:163px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2550_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2550 {
  position:absolute;
  left:1733px;
  top:855px;
  width:140px;
  height:40px;
  font-size:18px;
}
#u2551 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u2552_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2552 {
  position:absolute;
  left:1162px;
  top:347px;
  width:82px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2553 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2554_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2554 {
  position:absolute;
  left:363px;
  top:292px;
  width:50px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2555 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u2556_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2556 {
  position:absolute;
  left:461px;
  top:292px;
  width:112px;
  height:19px;
  font-size:16px;
}
#u2557 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u2558_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2558 {
  position:absolute;
  left:360px;
  top:344px;
  width:72px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2559 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u2560_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2560 {
  position:absolute;
  left:459px;
  top:344px;
  width:167px;
  height:38px;
  font-size:16px;
}
#u2561 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u2562_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2562 {
  position:absolute;
  left:1570px;
  top:292px;
  width:72px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2563 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u2564_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2564 {
  position:absolute;
  left:1653px;
  top:290px;
  width:169px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2565 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u2566_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2566 {
  position:absolute;
  left:1570px;
  top:347px;
  width:107px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2567 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u2568_div {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2568 {
  position:absolute;
  left:323px;
  top:867px;
  width:435px;
  height:16px;
  color:#FF0000;
}
#u2569 {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  white-space:nowrap;
}
#u2570_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2570 {
  position:absolute;
  left:360px;
  top:402px;
  width:82px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2571 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2572_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2572 {
  position:absolute;
  left:461px;
  top:402px;
  width:155px;
  height:19px;
  font-size:16px;
}
#u2573 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u2574_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2574 {
  position:absolute;
  left:363px;
  top:669px;
  width:295px;
  height:79px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2575 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u2576_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2576 {
  position:absolute;
  left:363px;
  top:764px;
  width:121px;
  height:18px;
  color:#FF0000;
}
#u2577 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2578 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2579_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1917px;
  height:66px;
  background:inherit;
  background-color:rgba(26, 118, 166, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2579 {
  position:absolute;
  left:0px;
  top:0px;
  width:1917px;
  height:66px;
}
#u2580 {
  position:absolute;
  left:2px;
  top:25px;
  width:1913px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2581_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:44px;
}
#u2581 {
  position:absolute;
  left:2px;
  top:12px;
  width:59px;
  height:44px;
}
#u2582 {
  position:absolute;
  left:2px;
  top:14px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2583_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u2583 {
  position:absolute;
  left:71px;
  top:17px;
  width:169px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u2584 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u2585_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2585 {
  position:absolute;
  left:1770px;
  top:23px;
  width:103px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u2586 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u2587_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u2587 {
  position:absolute;
  left:1729px;
  top:16px;
  width:36px;
  height:36px;
}
#u2588 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2589 {
  position:absolute;
  left:1322px;
  top:24px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u2590 {
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u2589_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2591 {
  position:absolute;
  left:1387px;
  top:24px;
  width:61px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u2592 {
  position:absolute;
  left:16px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u2591_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2593_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1A76A6;
}
#u2593 {
  position:absolute;
  left:1458px;
  top:17px;
  width:102px;
  height:33px;
  font-size:16px;
  color:#1A76A6;
}
#u2594 {
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u2595_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1A76A6;
}
#u2595 {
  position:absolute;
  left:1570px;
  top:17px;
  width:102px;
  height:33px;
  font-size:16px;
  color:#1A76A6;
}
#u2596 {
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u2597_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2597 {
  position:absolute;
  left:1462px;
  top:21px;
  width:25px;
  height:25px;
}
#u2598 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2599 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2600_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:875px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.517647058823529);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#666666;
}
#u2600 {
  position:absolute;
  left:0px;
  top:66px;
  width:208px;
  height:875px;
  font-size:24px;
  color:#666666;
}
#u2601 {
  position:absolute;
  left:2px;
  top:430px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2602_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:45px;
  background:inherit;
  background-color:rgba(26, 118, 166, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2602 {
  position:absolute;
  left:0px;
  top:70px;
  width:208px;
  height:45px;
}
#u2603 {
  position:absolute;
  left:2px;
  top:14px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2604_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:211px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2604 {
  position:absolute;
  left:0px;
  top:116px;
  width:208px;
  height:211px;
}
#u2605 {
  position:absolute;
  left:2px;
  top:98px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2606_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2606 {
  position:absolute;
  left:64px;
  top:83px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u2607 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2608 {
  position:absolute;
  left:8px;
  top:76px;
  width:35px;
  height:35px;
}
#u2609 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2610_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1A76A6;
}
#u2610 {
  position:absolute;
  left:28px;
  top:134px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1A76A6;
}
#u2611 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2612_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2612 {
  position:absolute;
  left:28px;
  top:185px;
  width:109px;
  height:22px;
  font-size:18px;
}
#u2613 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u2614_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2614 {
  position:absolute;
  left:28px;
  top:237px;
  width:91px;
  height:22px;
  font-size:18px;
}
#u2615 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2616 {
  position:absolute;
  left:28px;
  top:288px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u2617 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2618_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2618 {
  position:absolute;
  left:64px;
  top:344px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u2619 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2620 {
  position:absolute;
  left:64px;
  top:396px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u2621 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2622 {
  position:absolute;
  left:64px;
  top:449px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u2623 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2624 {
  position:absolute;
  left:64px;
  top:501px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u2625 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2626 {
  position:absolute;
  left:8px;
  top:390px;
  width:35px;
  height:35px;
}
#u2627 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u2628 {
  position:absolute;
  left:6px;
  top:337px;
  width:37px;
  height:37px;
}
#u2629 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u2630 {
  position:absolute;
  left:10px;
  top:443px;
  width:34px;
  height:34px;
}
#u2631 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u2632 {
  position:absolute;
  left:7px;
  top:492px;
  width:41px;
  height:41px;
}
#u2633 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:2px;
}
#u2634 {
  position:absolute;
  left:28px;
  top:170px;
  width:180px;
  height:1px;
}
#u2635 {
  position:absolute;
  left:2px;
  top:-8px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:2px;
}
#u2636 {
  position:absolute;
  left:28px;
  top:221px;
  width:180px;
  height:1px;
}
#u2637 {
  position:absolute;
  left:2px;
  top:-8px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:2px;
}
#u2638 {
  position:absolute;
  left:28px;
  top:273px;
  width:180px;
  height:1px;
}
#u2639 {
  position:absolute;
  left:2px;
  top:-8px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2640 {
  position:absolute;
  left:0px;
  top:123px;
  width:208px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2641 {
  position:absolute;
  left:0px;
  top:174px;
  width:208px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2642 {
  position:absolute;
  left:0px;
  top:226px;
  width:208px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2643 {
  position:absolute;
  left:0px;
  top:276px;
  width:208px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2644 {
  position:absolute;
  left:0px;
  top:331px;
  width:208px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2645 {
  position:absolute;
  left:0px;
  top:383px;
  width:208px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2646 {
  position:absolute;
  left:0px;
  top:435px;
  width:208px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2647 {
  position:absolute;
  left:0px;
  top:490px;
  width:208px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2648 {
  position:absolute;
  left:1162px;
  top:290px;
  width:72px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2649 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
