body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12706 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1917px;
  height:66px;
  background:inherit;
  background-color:rgba(26, 118, 166, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12707 {
  position:absolute;
  left:3px;
  top:0px;
  width:1917px;
  height:66px;
}
#u12708 {
  position:absolute;
  left:2px;
  top:25px;
  width:1913px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:44px;
}
#u12709 {
  position:absolute;
  left:5px;
  top:12px;
  width:59px;
  height:44px;
}
#u12710 {
  position:absolute;
  left:2px;
  top:14px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u12711 {
  position:absolute;
  left:74px;
  top:17px;
  width:169px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u12712 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u12713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u12713 {
  position:absolute;
  left:1773px;
  top:23px;
  width:103px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u12714 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u12715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u12715 {
  position:absolute;
  left:1732px;
  top:16px;
  width:36px;
  height:36px;
}
#u12716 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12717 {
  position:absolute;
  left:1325px;
  top:24px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u12718 {
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u12717_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12719 {
  position:absolute;
  left:1390px;
  top:24px;
  width:61px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u12720 {
  position:absolute;
  left:16px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u12719_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1A76A6;
}
#u12721 {
  position:absolute;
  left:1461px;
  top:17px;
  width:102px;
  height:33px;
  font-size:16px;
  color:#1A76A6;
}
#u12722 {
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u12723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1A76A6;
}
#u12723 {
  position:absolute;
  left:1573px;
  top:17px;
  width:102px;
  height:33px;
  font-size:16px;
  color:#1A76A6;
}
#u12724 {
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u12725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u12725 {
  position:absolute;
  left:1465px;
  top:21px;
  width:25px;
  height:25px;
}
#u12726 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12727 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:875px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.517647058823529);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#666666;
}
#u12728 {
  position:absolute;
  left:3px;
  top:66px;
  width:208px;
  height:875px;
  font-size:24px;
  color:#666666;
}
#u12729 {
  position:absolute;
  left:2px;
  top:430px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:45px;
  background:inherit;
  background-color:rgba(26, 118, 166, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12730 {
  position:absolute;
  left:0px;
  top:277px;
  width:208px;
  height:45px;
}
#u12731 {
  position:absolute;
  left:2px;
  top:14px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12732 {
  position:absolute;
  left:3px;
  top:325px;
  width:208px;
  height:53px;
}
#u12733 {
  position:absolute;
  left:2px;
  top:18px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u12734 {
  position:absolute;
  left:67px;
  top:83px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u12735 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1A76A6;
}
#u12736 {
  position:absolute;
  left:40px;
  top:341px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1A76A6;
}
#u12737 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u12738 {
  position:absolute;
  left:69px;
  top:132px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u12739 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u12740 {
  position:absolute;
  left:69px;
  top:184px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u12741 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u12742 {
  position:absolute;
  left:69px;
  top:237px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u12743 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u12744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u12744 {
  position:absolute;
  left:70px;
  top:289px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u12745 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u12746 {
  position:absolute;
  left:13px;
  top:178px;
  width:35px;
  height:35px;
}
#u12747 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u12748 {
  position:absolute;
  left:11px;
  top:125px;
  width:37px;
  height:37px;
}
#u12749 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12750 {
  position:absolute;
  left:3px;
  top:119px;
  width:208px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12751 {
  position:absolute;
  left:3px;
  top:169px;
  width:208px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12752 {
  position:absolute;
  left:3px;
  top:71px;
  width:208px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u12753 {
  position:absolute;
  left:11px;
  top:76px;
  width:35px;
  height:35px;
}
#u12754 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u12755 {
  position:absolute;
  left:10px;
  top:279px;
  width:41px;
  height:41px;
}
#u12756 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u12757 {
  position:absolute;
  left:13px;
  top:231px;
  width:35px;
  height:35px;
}
#u12758 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12759 {
  position:absolute;
  left:3px;
  top:224px;
  width:208px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12760 {
  position:absolute;
  left:3px;
  top:329px;
  width:208px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12761 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1699px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12762 {
  position:absolute;
  left:221px;
  top:73px;
  width:1699px;
  height:37px;
}
#u12763 {
  position:absolute;
  left:2px;
  top:10px;
  width:1695px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12764 {
  position:absolute;
  left:260px;
  top:82px;
  width:211px;
  height:19px;
  font-size:16px;
}
#u12765 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u12766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u12766 {
  position:absolute;
  left:221px;
  top:77px;
  width:30px;
  height:30px;
}
#u12767 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12768 {
  position:absolute;
  left:221px;
  top:114px;
  width:1677px;
  height:827px;
  overflow:hidden;
  visibility:hidden;
}
#u12768_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1677px;
  height:827px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12768_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1715px;
  height:1049px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.686274509803922);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12769 {
  position:absolute;
  left:-3px;
  top:-56px;
  width:1715px;
  height:1049px;
}
#u12770 {
  position:absolute;
  left:2px;
  top:516px;
  width:1711px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:265px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12771 {
  position:absolute;
  left:604px;
  top:267px;
  width:477px;
  height:265px;
}
#u12772 {
  position:absolute;
  left:2px;
  top:124px;
  width:473px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u12773 {
  position:absolute;
  left:734px;
  top:368px;
  width:217px;
  height:22px;
  font-size:18px;
}
#u12774 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u12775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(16, 174, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12775 {
  position:absolute;
  left:687px;
  top:478px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u12776 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u12777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12777 {
  position:absolute;
  left:859px;
  top:478px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u12778 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u12779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
}
#u12779 {
  position:absolute;
  left:1061px;
  top:274px;
  width:12px;
  height:22px;
  font-size:18px;
  color:#666666;
}
#u12780 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u12781 {
  position:absolute;
  left:687px;
  top:478px;
  width:140px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12782 {
  position:absolute;
  left:859px;
  top:478px;
  width:140px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12783 {
  position:absolute;
  left:1048px;
  top:265px;
  width:33px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:2px;
}
#u12784 {
  position:absolute;
  left:604px;
  top:458px;
  width:477px;
  height:1px;
}
#u12785 {
  position:absolute;
  left:2px;
  top:-8px;
  width:473px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1670px;
  height:827px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12786 {
  position:absolute;
  left:221px;
  top:114px;
  width:1670px;
  height:827px;
}
#u12787 {
  position:absolute;
  left:2px;
  top:406px;
  width:1666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u12788 {
  position:absolute;
  left:227px;
  top:127px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u12789 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1671px;
  height:2px;
}
#u12790 {
  position:absolute;
  left:221px;
  top:162px;
  width:1670px;
  height:1px;
}
#u12791 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(16, 174, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u12792 {
  position:absolute;
  left:768px;
  top:887px;
  width:140px;
  height:40px;
  font-size:18px;
  color:#FFFFFF;
}
#u12793 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u12794_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u12794 {
  position:absolute;
  left:991px;
  top:887px;
  width:140px;
  height:40px;
  font-size:18px;
}
#u12795 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u12796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1671px;
  height:2px;
}
#u12796 {
  position:absolute;
  left:221px;
  top:353px;
  width:1670px;
  height:1px;
}
#u12797 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12798 {
  position:absolute;
  left:1736px;
  top:119px;
  width:140px;
  height:40px;
}
#u12799 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u12800 {
  position:absolute;
  left:1736px;
  top:119px;
  width:140px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12801 {
  position:absolute;
  left:768px;
  top:887px;
  width:140px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12802 {
  position:absolute;
  left:991px;
  top:887px;
  width:140px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1671px;
  height:2px;
}
#u12803 {
  position:absolute;
  left:221px;
  top:251px;
  width:1670px;
  height:1px;
}
#u12804 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u12805 {
  position:absolute;
  left:221px;
  top:188px;
  width:100px;
  height:35px;
  color:#FFFFFF;
}
#u12806 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u12807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u12807 {
  position:absolute;
  left:221px;
  top:285px;
  width:100px;
  height:35px;
  color:#FFFFFF;
}
#u12808 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u12809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1671px;
  height:2px;
}
#u12809 {
  position:absolute;
  left:221px;
  top:423px;
  width:1670px;
  height:1px;
}
#u12810 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u12811 {
  position:absolute;
  left:221px;
  top:372px;
  width:100px;
  height:35px;
  color:#FFFFFF;
}
#u12812 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u12813 {
  position:absolute;
  left:363px;
  top:200px;
  width:100px;
  height:16px;
}
#u12814 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12813_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12815 {
  position:absolute;
  left:494px;
  top:200px;
  width:100px;
  height:16px;
}
#u12816 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12815_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12817 {
  position:absolute;
  left:663px;
  top:200px;
  width:100px;
  height:16px;
}
#u12818 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12817_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12819 {
  position:absolute;
  left:787px;
  top:191px;
  width:435px;
  height:16px;
}
#u12820 {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  white-space:nowrap;
}
#u12821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12821 {
  position:absolute;
  left:1264px;
  top:191px;
  width:295px;
  height:16px;
}
#u12822 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u12823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12823 {
  position:absolute;
  left:787px;
  top:217px;
  width:253px;
  height:16px;
}
#u12824 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u12825 {
  position:absolute;
  left:406px;
  top:285px;
  width:200px;
  height:30px;
}
#u12825_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u12825_input:disabled {
  color:grayText;
}
#u12826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u12826 {
  position:absolute;
  left:363px;
  top:325px;
  width:155px;
  height:16px;
  color:#FF0000;
}
#u12827 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u12828 {
  position:absolute;
  left:863px;
  top:285px;
  width:200px;
  height:30px;
}
#u12828_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u12828_input:disabled {
  color:grayText;
}
#u12829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u12829 {
  position:absolute;
  left:363px;
  top:291px;
  width:50px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u12830 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u12831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u12831 {
  position:absolute;
  left:778px;
  top:290px;
  width:76px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u12832 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u12833 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1659px;
  height:436px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12834 {
  position:absolute;
  left:232px;
  top:434px;
  width:1659px;
  height:436px;
}
#u12835 {
  position:absolute;
  left:2px;
  top:210px;
  width:1655px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12836 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12837 {
  position:absolute;
  left:972px;
  top:580px;
  width:100px;
  height:16px;
}
#u12838 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12837_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12839 {
  position:absolute;
  left:972px;
  top:612px;
  width:204px;
  height:16px;
}
#u12840 {
  position:absolute;
  left:16px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u12839_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12841 {
  position:absolute;
  left:972px;
  top:548px;
  width:235px;
  height:16px;
}
#u12842 {
  position:absolute;
  left:16px;
  top:0px;
  width:217px;
  word-wrap:break-word;
}
#u12841_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12843 {
  position:absolute;
  left:919px;
  top:516px;
  width:100px;
  height:16px;
  font-size:14px;
  color:#33CCFF;
}
#u12844 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12843_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12845 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12846 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12847 {
  position:absolute;
  left:1240px;
  top:516px;
  width:100px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#33CCFF;
}
#u12848 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12847_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12849 {
  position:absolute;
  left:1270px;
  top:563px;
  width:164px;
  height:16px;
}
#u12850 {
  position:absolute;
  left:16px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u12849_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12851 {
  position:absolute;
  left:1303px;
  top:633px;
  width:100px;
  height:16px;
}
#u12852 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12851_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12853 {
  position:absolute;
  left:1303px;
  top:680px;
  width:100px;
  height:16px;
}
#u12854 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12853_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12855 {
  position:absolute;
  left:1270px;
  top:539px;
  width:235px;
  height:16px;
}
#u12856 {
  position:absolute;
  left:16px;
  top:0px;
  width:217px;
  word-wrap:break-word;
}
#u12855_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12857 {
  position:absolute;
  left:1303px;
  top:703px;
  width:141px;
  height:16px;
}
#u12858 {
  position:absolute;
  left:16px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u12857_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12859 {
  position:absolute;
  left:1270px;
  top:774px;
  width:100px;
  height:16px;
}
#u12860 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12859_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12861 {
  position:absolute;
  left:1303px;
  top:821px;
  width:180px;
  height:16px;
}
#u12862 {
  position:absolute;
  left:16px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u12861_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12863 {
  position:absolute;
  left:1303px;
  top:844px;
  width:180px;
  height:16px;
}
#u12864 {
  position:absolute;
  left:16px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u12863_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12865 {
  position:absolute;
  left:1303px;
  top:657px;
  width:100px;
  height:16px;
}
#u12866 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12865_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12867 {
  position:absolute;
  left:1302px;
  top:586px;
  width:100px;
  height:16px;
}
#u12868 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12867_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12869 {
  position:absolute;
  left:1302px;
  top:610px;
  width:100px;
  height:16px;
}
#u12870 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12869_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12871 {
  position:absolute;
  left:1303px;
  top:727px;
  width:141px;
  height:16px;
}
#u12872 {
  position:absolute;
  left:16px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u12871_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12873 {
  position:absolute;
  left:1303px;
  top:750px;
  width:149px;
  height:16px;
}
#u12874 {
  position:absolute;
  left:16px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u12873_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12875 {
  position:absolute;
  left:1303px;
  top:797px;
  width:180px;
  height:16px;
}
#u12876 {
  position:absolute;
  left:16px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u12875_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12877 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12878 {
  position:absolute;
  left:326px;
  top:771px;
  width:235px;
  height:16px;
}
#u12879 {
  position:absolute;
  left:16px;
  top:0px;
  width:217px;
  word-wrap:break-word;
}
#u12878_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12880 {
  position:absolute;
  left:262px;
  top:516px;
  width:100px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#33CCFF;
}
#u12881 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12880_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12882 {
  position:absolute;
  left:295px;
  top:542px;
  width:100px;
  height:16px;
}
#u12883 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12882_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12884 {
  position:absolute;
  left:295px;
  top:567px;
  width:100px;
  height:16px;
}
#u12885 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12884_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12886 {
  position:absolute;
  left:326px;
  top:593px;
  width:235px;
  height:16px;
}
#u12887 {
  position:absolute;
  left:16px;
  top:0px;
  width:217px;
  word-wrap:break-word;
}
#u12886_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12888 {
  position:absolute;
  left:326px;
  top:618px;
  width:100px;
  height:16px;
}
#u12889 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12888_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12890 {
  position:absolute;
  left:326px;
  top:669px;
  width:100px;
  height:16px;
}
#u12891 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12890_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12892 {
  position:absolute;
  left:295px;
  top:695px;
  width:100px;
  height:16px;
}
#u12893 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12892_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12894 {
  position:absolute;
  left:326px;
  top:720px;
  width:235px;
  height:16px;
}
#u12895 {
  position:absolute;
  left:16px;
  top:0px;
  width:217px;
  word-wrap:break-word;
}
#u12894_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12896 {
  position:absolute;
  left:326px;
  top:746px;
  width:235px;
  height:16px;
}
#u12897 {
  position:absolute;
  left:16px;
  top:0px;
  width:217px;
  word-wrap:break-word;
}
#u12896_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12898 {
  position:absolute;
  left:326px;
  top:797px;
  width:235px;
  height:16px;
}
#u12899 {
  position:absolute;
  left:16px;
  top:0px;
  width:217px;
  word-wrap:break-word;
}
#u12898_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12900 {
  position:absolute;
  left:326px;
  top:644px;
  width:100px;
  height:16px;
}
#u12901 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12900_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12902 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12903 {
  position:absolute;
  left:587px;
  top:516px;
  width:100px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#33CCFF;
}
#u12904 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12903_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12905 {
  position:absolute;
  left:640px;
  top:547px;
  width:164px;
  height:16px;
}
#u12906 {
  position:absolute;
  left:16px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u12905_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12907 {
  position:absolute;
  left:672px;
  top:608px;
  width:100px;
  height:16px;
}
#u12908 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12907_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12909 {
  position:absolute;
  left:672px;
  top:669px;
  width:204px;
  height:16px;
}
#u12910 {
  position:absolute;
  left:16px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u12909_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12911 {
  position:absolute;
  left:672px;
  top:577px;
  width:235px;
  height:16px;
}
#u12912 {
  position:absolute;
  left:16px;
  top:0px;
  width:217px;
  word-wrap:break-word;
}
#u12911_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12913 {
  position:absolute;
  left:639px;
  top:730px;
  width:146px;
  height:16px;
}
#u12914 {
  position:absolute;
  left:16px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u12913_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12915 {
  position:absolute;
  left:672px;
  top:699px;
  width:204px;
  height:16px;
}
#u12916 {
  position:absolute;
  left:16px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u12915_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12917 {
  position:absolute;
  left:672px;
  top:638px;
  width:204px;
  height:16px;
}
#u12918 {
  position:absolute;
  left:16px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u12917_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12919 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12920 {
  position:absolute;
  left:1573px;
  top:516px;
  width:164px;
  height:16px;
  font-size:14px;
  color:#33CCFF;
}
#u12921 {
  position:absolute;
  left:16px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u12920_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12922 {
  position:absolute;
  left:1667px;
  top:625px;
  width:100px;
  height:16px;
}
#u12923 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12922_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12924 {
  position:absolute;
  left:1667px;
  top:653px;
  width:204px;
  height:16px;
}
#u12925 {
  position:absolute;
  left:16px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u12924_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12926 {
  position:absolute;
  left:1667px;
  top:543px;
  width:235px;
  height:16px;
}
#u12927 {
  position:absolute;
  left:16px;
  top:0px;
  width:217px;
  word-wrap:break-word;
}
#u12926_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12928 {
  position:absolute;
  left:1667px;
  top:571px;
  width:100px;
  height:16px;
}
#u12929 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12928_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12930 {
  position:absolute;
  left:1667px;
  top:598px;
  width:100px;
  height:16px;
}
#u12931 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12930_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12932 {
  position:absolute;
  left:1667px;
  top:680px;
  width:204px;
  height:16px;
}
#u12933 {
  position:absolute;
  left:16px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u12932_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12934 {
  position:absolute;
  left:262px;
  top:455px;
  width:100px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#33CCFF;
}
#u12935 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12934_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12936 {
  position:absolute;
  left:342px;
  top:382px;
  width:519px;
  height:16px;
}
#u12937 {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  white-space:nowrap;
}
#u12938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u12938 {
  position:absolute;
  left:863px;
  top:325px;
  width:43px;
  height:16px;
  color:#FF0000;
}
#u12939 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
