body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1917px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2082 {
  position:absolute;
  left:218px;
  top:70px;
  width:1677px;
  height:871px;
  overflow:hidden;
  visibility:hidden;
}
#u2082_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1677px;
  height:871px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2082_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1715px;
  height:1049px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.686274509803922);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2083 {
  position:absolute;
  left:-3px;
  top:-56px;
  width:1715px;
  height:1049px;
}
#u2084 {
  position:absolute;
  left:2px;
  top:516px;
  width:1711px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:265px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2085 {
  position:absolute;
  left:604px;
  top:267px;
  width:477px;
  height:265px;
}
#u2086 {
  position:absolute;
  left:2px;
  top:124px;
  width:473px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2087 {
  position:absolute;
  left:671px;
  top:366px;
  width:343px;
  height:22px;
  font-size:18px;
}
#u2088 {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  white-space:nowrap;
}
#u2089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(16, 174, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2089 {
  position:absolute;
  left:687px;
  top:478px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u2090 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u2091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2091 {
  position:absolute;
  left:859px;
  top:478px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u2092 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u2093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
}
#u2093 {
  position:absolute;
  left:1061px;
  top:274px;
  width:12px;
  height:22px;
  font-size:18px;
  color:#666666;
}
#u2094 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u2095 {
  position:absolute;
  left:687px;
  top:478px;
  width:140px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2096 {
  position:absolute;
  left:859px;
  top:478px;
  width:140px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2097 {
  position:absolute;
  left:1048px;
  top:265px;
  width:33px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:2px;
}
#u2098 {
  position:absolute;
  left:604px;
  top:458px;
  width:477px;
  height:1px;
}
#u2099 {
  position:absolute;
  left:2px;
  top:-8px;
  width:473px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1670px;
  height:871px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2100 {
  position:absolute;
  left:218px;
  top:70px;
  width:1670px;
  height:871px;
}
#u2101 {
  position:absolute;
  left:2px;
  top:428px;
  width:1666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2102 {
  position:absolute;
  left:224px;
  top:83px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2103 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1671px;
  height:2px;
}
#u2104 {
  position:absolute;
  left:218px;
  top:118px;
  width:1670px;
  height:1px;
}
#u2105 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(16, 174, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2106 {
  position:absolute;
  left:783px;
  top:855px;
  width:140px;
  height:40px;
  font-size:18px;
  color:#FFFFFF;
}
#u2107 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u2108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2108 {
  position:absolute;
  left:976px;
  top:855px;
  width:140px;
  height:40px;
  font-size:18px;
}
#u2109 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u2110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2110 {
  position:absolute;
  left:362px;
  top:405px;
  width:82px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2111 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2112 {
  position:absolute;
  left:360px;
  top:237px;
  width:82px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2113 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2114 {
  position:absolute;
  left:461px;
  top:405px;
  width:155px;
  height:19px;
  font-size:16px;
}
#u2115 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u2116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2116 {
  position:absolute;
  left:461px;
  top:237px;
  width:134px;
  height:19px;
  font-size:16px;
}
#u2117 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u2118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1671px;
  height:2px;
}
#u2118 {
  position:absolute;
  left:218px;
  top:309px;
  width:1670px;
  height:1px;
}
#u2119 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2120 {
  position:absolute;
  left:749px;
  top:337px;
  width:50px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2121 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u2122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2122 {
  position:absolute;
  left:838px;
  top:337px;
  width:112px;
  height:19px;
  font-size:16px;
}
#u2123 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u2124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1671px;
  height:2px;
}
#u2124 {
  position:absolute;
  left:218px;
  top:816px;
  width:1670px;
  height:1px;
}
#u2125 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2126 {
  position:absolute;
  left:749px;
  top:237px;
  width:107px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2127 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u2128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2128 {
  position:absolute;
  left:838px;
  top:237px;
  width:134px;
  height:19px;
  font-size:16px;
}
#u2129 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u2130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2130 {
  position:absolute;
  left:1733px;
  top:75px;
  width:140px;
  height:40px;
}
#u2131 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2132 {
  position:absolute;
  left:1733px;
  top:75px;
  width:140px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2133 {
  position:absolute;
  left:783px;
  top:855px;
  width:140px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2134 {
  position:absolute;
  left:976px;
  top:855px;
  width:140px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2135 {
  position:absolute;
  left:1583px;
  top:855px;
  width:140px;
  height:40px;
  font-size:18px;
}
#u2136 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u2137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2137 {
  position:absolute;
  left:360px;
  top:142px;
  width:82px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2138 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2139 {
  position:absolute;
  left:461px;
  top:142px;
  width:211px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2140 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u2141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2141 {
  position:absolute;
  left:1162px;
  top:142px;
  width:107px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2142 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u2143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2143 {
  position:absolute;
  left:1245px;
  top:142px;
  width:134px;
  height:19px;
  font-size:16px;
}
#u2144 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u2145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2145 {
  position:absolute;
  left:1576px;
  top:142px;
  width:107px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2146 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u2147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2147 {
  position:absolute;
  left:1693px;
  top:142px;
  width:134px;
  height:19px;
  font-size:16px;
}
#u2148 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u2149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u2149 {
  position:absolute;
  left:350px;
  top:85px;
  width:231px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u2150 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  word-wrap:break-word;
}
#u2151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u2151 {
  position:absolute;
  left:218px;
  top:134px;
  width:100px;
  height:35px;
  color:#FFFFFF;
}
#u2152 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1671px;
  height:2px;
}
#u2153 {
  position:absolute;
  left:218px;
  top:185px;
  width:1670px;
  height:1px;
}
#u2154 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u2155 {
  position:absolute;
  left:218px;
  top:229px;
  width:100px;
  height:35px;
  color:#FFFFFF;
}
#u2156 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2157 {
  position:absolute;
  left:749px;
  top:142px;
  width:107px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2158 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u2159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2159 {
  position:absolute;
  left:838px;
  top:142px;
  width:134px;
  height:19px;
  font-size:16px;
}
#u2160 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u2161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u2161 {
  position:absolute;
  left:218px;
  top:329px;
  width:100px;
  height:35px;
  color:#FFFFFF;
}
#u2162 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1671px;
  height:2px;
}
#u2163 {
  position:absolute;
  left:218px;
  top:445px;
  width:1670px;
  height:1px;
}
#u2164 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u2165 {
  position:absolute;
  left:218px;
  top:466px;
  width:100px;
  height:35px;
  color:#FFFFFF;
}
#u2166 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2167 {
  position:absolute;
  left:358px;
  top:474px;
  width:70px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2168 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u2169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1671px;
  height:2px;
}
#u2169 {
  position:absolute;
  left:218px;
  top:649px;
  width:1670px;
  height:1px;
}
#u2170 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u2171 {
  position:absolute;
  left:218px;
  top:669px;
  width:100px;
  height:35px;
  color:#FFFFFF;
}
#u2172 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u2173 {
  position:absolute;
  left:355px;
  top:677px;
  width:134px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u2174 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u2175 {
  position:absolute;
  left:491px;
  top:476px;
  width:710px;
  height:163px;
}
#u2175_input {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:163px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2176 {
  position:absolute;
  left:1733px;
  top:855px;
  width:140px;
  height:40px;
  font-size:18px;
}
#u2177 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u2178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2178 {
  position:absolute;
  left:749px;
  top:405px;
  width:82px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2179 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2180 {
  position:absolute;
  left:841px;
  top:405px;
  width:155px;
  height:19px;
  font-size:16px;
}
#u2181 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u2182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2182 {
  position:absolute;
  left:363px;
  top:337px;
  width:50px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2183 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u2184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2184 {
  position:absolute;
  left:461px;
  top:337px;
  width:112px;
  height:19px;
  font-size:16px;
}
#u2185 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u2186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2186 {
  position:absolute;
  left:1576px;
  top:337px;
  width:72px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2187 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u2188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2188 {
  position:absolute;
  left:1689px;
  top:337px;
  width:167px;
  height:38px;
  font-size:16px;
}
#u2189 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u2190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2190 {
  position:absolute;
  left:1162px;
  top:337px;
  width:72px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2191 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u2192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2192 {
  position:absolute;
  left:1245px;
  top:335px;
  width:127px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2193 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u2194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2194 {
  position:absolute;
  left:1576px;
  top:405px;
  width:107px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2195 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u2196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2196 {
  position:absolute;
  left:1162px;
  top:405px;
  width:107px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u2197 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u2198 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1917px;
  height:66px;
  background:inherit;
  background-color:rgba(26, 118, 166, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2199 {
  position:absolute;
  left:0px;
  top:0px;
  width:1917px;
  height:66px;
}
#u2200 {
  position:absolute;
  left:2px;
  top:25px;
  width:1913px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:44px;
}
#u2201 {
  position:absolute;
  left:2px;
  top:12px;
  width:59px;
  height:44px;
}
#u2202 {
  position:absolute;
  left:2px;
  top:14px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u2203 {
  position:absolute;
  left:71px;
  top:17px;
  width:169px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u2204 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u2205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2205 {
  position:absolute;
  left:1770px;
  top:23px;
  width:103px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u2206 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u2207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u2207 {
  position:absolute;
  left:1729px;
  top:16px;
  width:36px;
  height:36px;
}
#u2208 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2209 {
  position:absolute;
  left:1322px;
  top:24px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u2210 {
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u2209_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2211 {
  position:absolute;
  left:1387px;
  top:24px;
  width:61px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u2212 {
  position:absolute;
  left:16px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u2211_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1A76A6;
}
#u2213 {
  position:absolute;
  left:1458px;
  top:17px;
  width:102px;
  height:33px;
  font-size:16px;
  color:#1A76A6;
}
#u2214 {
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u2215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1A76A6;
}
#u2215 {
  position:absolute;
  left:1570px;
  top:17px;
  width:102px;
  height:33px;
  font-size:16px;
  color:#1A76A6;
}
#u2216 {
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u2217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2217 {
  position:absolute;
  left:1462px;
  top:21px;
  width:25px;
  height:25px;
}
#u2218 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2219 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:875px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.517647058823529);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#666666;
}
#u2220 {
  position:absolute;
  left:0px;
  top:66px;
  width:208px;
  height:875px;
  font-size:24px;
  color:#666666;
}
#u2221 {
  position:absolute;
  left:2px;
  top:430px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:45px;
  background:inherit;
  background-color:rgba(26, 118, 166, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2222 {
  position:absolute;
  left:0px;
  top:70px;
  width:208px;
  height:45px;
}
#u2223 {
  position:absolute;
  left:2px;
  top:14px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:211px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2224 {
  position:absolute;
  left:0px;
  top:116px;
  width:208px;
  height:211px;
}
#u2225 {
  position:absolute;
  left:2px;
  top:98px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2226 {
  position:absolute;
  left:64px;
  top:83px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u2227 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2228 {
  position:absolute;
  left:8px;
  top:76px;
  width:35px;
  height:35px;
}
#u2229 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1A76A6;
}
#u2230 {
  position:absolute;
  left:28px;
  top:134px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1A76A6;
}
#u2231 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2232 {
  position:absolute;
  left:28px;
  top:185px;
  width:109px;
  height:22px;
  font-size:18px;
}
#u2233 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u2234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2234 {
  position:absolute;
  left:28px;
  top:237px;
  width:91px;
  height:22px;
  font-size:18px;
}
#u2235 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2236 {
  position:absolute;
  left:28px;
  top:288px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u2237 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2238 {
  position:absolute;
  left:64px;
  top:344px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u2239 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2240 {
  position:absolute;
  left:64px;
  top:396px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u2241 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2242 {
  position:absolute;
  left:64px;
  top:449px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u2243 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2244 {
  position:absolute;
  left:64px;
  top:501px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u2245 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2246 {
  position:absolute;
  left:8px;
  top:390px;
  width:35px;
  height:35px;
}
#u2247 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u2248 {
  position:absolute;
  left:6px;
  top:337px;
  width:37px;
  height:37px;
}
#u2249 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u2250 {
  position:absolute;
  left:10px;
  top:443px;
  width:34px;
  height:34px;
}
#u2251 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u2252 {
  position:absolute;
  left:7px;
  top:492px;
  width:41px;
  height:41px;
}
#u2253 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:2px;
}
#u2254 {
  position:absolute;
  left:28px;
  top:170px;
  width:180px;
  height:1px;
}
#u2255 {
  position:absolute;
  left:2px;
  top:-8px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:2px;
}
#u2256 {
  position:absolute;
  left:28px;
  top:221px;
  width:180px;
  height:1px;
}
#u2257 {
  position:absolute;
  left:2px;
  top:-8px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:2px;
}
#u2258 {
  position:absolute;
  left:28px;
  top:273px;
  width:180px;
  height:1px;
}
#u2259 {
  position:absolute;
  left:2px;
  top:-8px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2260 {
  position:absolute;
  left:0px;
  top:123px;
  width:208px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2261 {
  position:absolute;
  left:0px;
  top:174px;
  width:208px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2262 {
  position:absolute;
  left:0px;
  top:226px;
  width:208px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2263 {
  position:absolute;
  left:0px;
  top:276px;
  width:208px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2264 {
  position:absolute;
  left:0px;
  top:331px;
  width:208px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2265 {
  position:absolute;
  left:0px;
  top:383px;
  width:208px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2266 {
  position:absolute;
  left:0px;
  top:435px;
  width:208px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2267 {
  position:absolute;
  left:0px;
  top:490px;
  width:208px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
