body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1921px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12269 {
  position:absolute;
  left:222px;
  top:110px;
  width:1665px;
  height:831px;
  overflow:hidden;
  visibility:hidden;
}
#u12269_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1665px;
  height:831px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12269_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1715px;
  height:1049px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.686274509803922);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12270 {
  position:absolute;
  left:0px;
  top:-175px;
  width:1715px;
  height:1049px;
}
#u12271 {
  position:absolute;
  left:2px;
  top:516px;
  width:1711px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:343px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12272 {
  position:absolute;
  left:590px;
  top:171px;
  width:603px;
  height:343px;
}
#u12273 {
  position:absolute;
  left:2px;
  top:164px;
  width:599px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u12274 {
  position:absolute;
  left:611px;
  top:401px;
  width:561px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u12275 {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  white-space:nowrap;
}
#u12276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(16, 174, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12276 {
  position:absolute;
  left:724px;
  top:450px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u12277 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u12278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
}
#u12278 {
  position:absolute;
  left:1172px;
  top:173px;
  width:12px;
  height:22px;
  font-size:18px;
  color:#666666;
}
#u12279 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u12280 {
  position:absolute;
  left:1162px;
  top:173px;
  width:33px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:2px;
}
#u12281 {
  position:absolute;
  left:588px;
  top:430px;
  width:603px;
  height:1px;
}
#u12282 {
  position:absolute;
  left:2px;
  top:-8px;
  width:599px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12283 {
  position:absolute;
  left:897px;
  top:450px;
  width:140px;
  height:40px;
}
#u12284 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u12285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12285 {
  position:absolute;
  left:609px;
  top:198px;
  width:113px;
  height:19px;
  font-size:16px;
}
#u12286 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u12287 {
  position:absolute;
  left:609px;
  top:241px;
  width:560px;
  height:120px;
}
#u12287_input {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:120px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12288 {
  position:absolute;
  left:724px;
  top:450px;
  width:140px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12289 {
  position:absolute;
  left:897px;
  top:450px;
  width:140px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12290 {
  position:absolute;
  left:222px;
  top:209px;
  width:1660px;
  height:385px;
}
#u12291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u12291 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u12292 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u12293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
}
#u12293 {
  position:absolute;
  left:69px;
  top:0px;
  width:179px;
  height:30px;
}
#u12294 {
  position:absolute;
  left:2px;
  top:7px;
  width:175px;
  word-wrap:break-word;
}
#u12295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:30px;
}
#u12295 {
  position:absolute;
  left:248px;
  top:0px;
  width:166px;
  height:30px;
}
#u12296 {
  position:absolute;
  left:2px;
  top:7px;
  width:162px;
  word-wrap:break-word;
}
#u12297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:30px;
}
#u12297 {
  position:absolute;
  left:414px;
  top:0px;
  width:205px;
  height:30px;
}
#u12298 {
  position:absolute;
  left:2px;
  top:7px;
  width:201px;
  word-wrap:break-word;
}
#u12299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u12299 {
  position:absolute;
  left:619px;
  top:0px;
  width:128px;
  height:30px;
}
#u12300 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  word-wrap:break-word;
}
#u12301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u12301 {
  position:absolute;
  left:747px;
  top:0px;
  width:174px;
  height:30px;
}
#u12302 {
  position:absolute;
  left:2px;
  top:7px;
  width:170px;
  word-wrap:break-word;
}
#u12303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:30px;
}
#u12303 {
  position:absolute;
  left:921px;
  top:0px;
  width:203px;
  height:30px;
}
#u12304 {
  position:absolute;
  left:2px;
  top:7px;
  width:199px;
  word-wrap:break-word;
}
#u12305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u12305 {
  position:absolute;
  left:1124px;
  top:0px;
  width:161px;
  height:30px;
}
#u12306 {
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  word-wrap:break-word;
}
#u12307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
}
#u12307 {
  position:absolute;
  left:1285px;
  top:0px;
  width:179px;
  height:30px;
}
#u12308 {
  position:absolute;
  left:2px;
  top:7px;
  width:175px;
  word-wrap:break-word;
}
#u12309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
}
#u12309 {
  position:absolute;
  left:1464px;
  top:0px;
  width:191px;
  height:30px;
}
#u12310 {
  position:absolute;
  left:2px;
  top:7px;
  width:187px;
  word-wrap:break-word;
}
#u12311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:50px;
}
#u12311 {
  position:absolute;
  left:0px;
  top:30px;
  width:69px;
  height:50px;
}
#u12312 {
  position:absolute;
  left:2px;
  top:17px;
  width:65px;
  word-wrap:break-word;
}
#u12313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u12313 {
  position:absolute;
  left:69px;
  top:30px;
  width:179px;
  height:50px;
}
#u12314 {
  position:absolute;
  left:2px;
  top:17px;
  width:175px;
  word-wrap:break-word;
}
#u12315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:50px;
}
#u12315 {
  position:absolute;
  left:248px;
  top:30px;
  width:166px;
  height:50px;
}
#u12316 {
  position:absolute;
  left:2px;
  top:17px;
  width:162px;
  word-wrap:break-word;
}
#u12317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:50px;
}
#u12317 {
  position:absolute;
  left:414px;
  top:30px;
  width:205px;
  height:50px;
}
#u12318 {
  position:absolute;
  left:2px;
  top:17px;
  width:201px;
  word-wrap:break-word;
}
#u12319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:50px;
}
#u12319 {
  position:absolute;
  left:619px;
  top:30px;
  width:128px;
  height:50px;
}
#u12320 {
  position:absolute;
  left:2px;
  top:17px;
  width:124px;
  word-wrap:break-word;
}
#u12321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:50px;
}
#u12321 {
  position:absolute;
  left:747px;
  top:30px;
  width:174px;
  height:50px;
}
#u12322 {
  position:absolute;
  left:2px;
  top:17px;
  width:170px;
  word-wrap:break-word;
}
#u12323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:50px;
}
#u12323 {
  position:absolute;
  left:921px;
  top:30px;
  width:203px;
  height:50px;
}
#u12324 {
  position:absolute;
  left:2px;
  top:17px;
  width:199px;
  word-wrap:break-word;
}
#u12325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:50px;
}
#u12325 {
  position:absolute;
  left:1124px;
  top:30px;
  width:161px;
  height:50px;
}
#u12326 {
  position:absolute;
  left:2px;
  top:17px;
  width:157px;
  word-wrap:break-word;
}
#u12327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u12327 {
  position:absolute;
  left:1285px;
  top:30px;
  width:179px;
  height:50px;
}
#u12328 {
  position:absolute;
  left:2px;
  top:17px;
  width:175px;
  word-wrap:break-word;
}
#u12329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:50px;
}
#u12329 {
  position:absolute;
  left:1464px;
  top:30px;
  width:191px;
  height:50px;
}
#u12330 {
  position:absolute;
  left:2px;
  top:17px;
  width:187px;
  word-wrap:break-word;
}
#u12331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:50px;
}
#u12331 {
  position:absolute;
  left:0px;
  top:80px;
  width:69px;
  height:50px;
}
#u12332 {
  position:absolute;
  left:2px;
  top:17px;
  width:65px;
  word-wrap:break-word;
}
#u12333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u12333 {
  position:absolute;
  left:69px;
  top:80px;
  width:179px;
  height:50px;
}
#u12334 {
  position:absolute;
  left:2px;
  top:17px;
  width:175px;
  word-wrap:break-word;
}
#u12335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:50px;
}
#u12335 {
  position:absolute;
  left:248px;
  top:80px;
  width:166px;
  height:50px;
}
#u12336 {
  position:absolute;
  left:2px;
  top:17px;
  width:162px;
  word-wrap:break-word;
}
#u12337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:50px;
}
#u12337 {
  position:absolute;
  left:414px;
  top:80px;
  width:205px;
  height:50px;
}
#u12338 {
  position:absolute;
  left:2px;
  top:17px;
  width:201px;
  word-wrap:break-word;
}
#u12339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:50px;
}
#u12339 {
  position:absolute;
  left:619px;
  top:80px;
  width:128px;
  height:50px;
}
#u12340 {
  position:absolute;
  left:2px;
  top:17px;
  width:124px;
  word-wrap:break-word;
}
#u12341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:50px;
}
#u12341 {
  position:absolute;
  left:747px;
  top:80px;
  width:174px;
  height:50px;
}
#u12342 {
  position:absolute;
  left:2px;
  top:17px;
  width:170px;
  word-wrap:break-word;
}
#u12343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:50px;
}
#u12343 {
  position:absolute;
  left:921px;
  top:80px;
  width:203px;
  height:50px;
}
#u12344 {
  position:absolute;
  left:2px;
  top:17px;
  width:199px;
  word-wrap:break-word;
}
#u12345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:50px;
}
#u12345 {
  position:absolute;
  left:1124px;
  top:80px;
  width:161px;
  height:50px;
}
#u12346 {
  position:absolute;
  left:2px;
  top:17px;
  width:157px;
  word-wrap:break-word;
}
#u12347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u12347 {
  position:absolute;
  left:1285px;
  top:80px;
  width:179px;
  height:50px;
}
#u12348 {
  position:absolute;
  left:2px;
  top:9px;
  width:175px;
  word-wrap:break-word;
}
#u12349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:50px;
}
#u12349 {
  position:absolute;
  left:1464px;
  top:80px;
  width:191px;
  height:50px;
  color:#0A96DB;
}
#u12350 {
  position:absolute;
  left:2px;
  top:17px;
  width:187px;
  word-wrap:break-word;
}
#u12351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:50px;
}
#u12351 {
  position:absolute;
  left:0px;
  top:130px;
  width:69px;
  height:50px;
}
#u12352 {
  position:absolute;
  left:2px;
  top:17px;
  width:65px;
  word-wrap:break-word;
}
#u12353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u12353 {
  position:absolute;
  left:69px;
  top:130px;
  width:179px;
  height:50px;
}
#u12354 {
  position:absolute;
  left:2px;
  top:17px;
  width:175px;
  word-wrap:break-word;
}
#u12355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:50px;
}
#u12355 {
  position:absolute;
  left:248px;
  top:130px;
  width:166px;
  height:50px;
}
#u12356 {
  position:absolute;
  left:2px;
  top:17px;
  width:162px;
  word-wrap:break-word;
}
#u12357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:50px;
}
#u12357 {
  position:absolute;
  left:414px;
  top:130px;
  width:205px;
  height:50px;
}
#u12358 {
  position:absolute;
  left:2px;
  top:17px;
  width:201px;
  word-wrap:break-word;
}
#u12359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:50px;
}
#u12359 {
  position:absolute;
  left:619px;
  top:130px;
  width:128px;
  height:50px;
}
#u12360 {
  position:absolute;
  left:2px;
  top:17px;
  width:124px;
  word-wrap:break-word;
}
#u12361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:50px;
}
#u12361 {
  position:absolute;
  left:747px;
  top:130px;
  width:174px;
  height:50px;
}
#u12362 {
  position:absolute;
  left:2px;
  top:17px;
  width:170px;
  word-wrap:break-word;
}
#u12363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:50px;
}
#u12363 {
  position:absolute;
  left:921px;
  top:130px;
  width:203px;
  height:50px;
}
#u12364 {
  position:absolute;
  left:2px;
  top:17px;
  width:199px;
  word-wrap:break-word;
}
#u12365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:50px;
}
#u12365 {
  position:absolute;
  left:1124px;
  top:130px;
  width:161px;
  height:50px;
}
#u12366 {
  position:absolute;
  left:2px;
  top:17px;
  width:157px;
  word-wrap:break-word;
}
#u12367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u12367 {
  position:absolute;
  left:1285px;
  top:130px;
  width:179px;
  height:50px;
}
#u12368 {
  position:absolute;
  left:2px;
  top:17px;
  width:175px;
  word-wrap:break-word;
}
#u12369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:50px;
}
#u12369 {
  position:absolute;
  left:1464px;
  top:130px;
  width:191px;
  height:50px;
}
#u12370 {
  position:absolute;
  left:2px;
  top:17px;
  width:187px;
  word-wrap:break-word;
}
#u12371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:50px;
}
#u12371 {
  position:absolute;
  left:0px;
  top:180px;
  width:69px;
  height:50px;
}
#u12372 {
  position:absolute;
  left:2px;
  top:17px;
  width:65px;
  word-wrap:break-word;
}
#u12373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u12373 {
  position:absolute;
  left:69px;
  top:180px;
  width:179px;
  height:50px;
}
#u12374 {
  position:absolute;
  left:2px;
  top:17px;
  width:175px;
  word-wrap:break-word;
}
#u12375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:50px;
}
#u12375 {
  position:absolute;
  left:248px;
  top:180px;
  width:166px;
  height:50px;
}
#u12376 {
  position:absolute;
  left:2px;
  top:17px;
  width:162px;
  word-wrap:break-word;
}
#u12377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:50px;
}
#u12377 {
  position:absolute;
  left:414px;
  top:180px;
  width:205px;
  height:50px;
}
#u12378 {
  position:absolute;
  left:2px;
  top:17px;
  width:201px;
  word-wrap:break-word;
}
#u12379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:50px;
}
#u12379 {
  position:absolute;
  left:619px;
  top:180px;
  width:128px;
  height:50px;
}
#u12380 {
  position:absolute;
  left:2px;
  top:17px;
  width:124px;
  word-wrap:break-word;
}
#u12381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:50px;
}
#u12381 {
  position:absolute;
  left:747px;
  top:180px;
  width:174px;
  height:50px;
}
#u12382 {
  position:absolute;
  left:2px;
  top:17px;
  width:170px;
  word-wrap:break-word;
}
#u12383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:50px;
}
#u12383 {
  position:absolute;
  left:921px;
  top:180px;
  width:203px;
  height:50px;
}
#u12384 {
  position:absolute;
  left:2px;
  top:17px;
  width:199px;
  word-wrap:break-word;
}
#u12385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:50px;
}
#u12385 {
  position:absolute;
  left:1124px;
  top:180px;
  width:161px;
  height:50px;
}
#u12386 {
  position:absolute;
  left:2px;
  top:17px;
  width:157px;
  word-wrap:break-word;
}
#u12387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u12387 {
  position:absolute;
  left:1285px;
  top:180px;
  width:179px;
  height:50px;
}
#u12388 {
  position:absolute;
  left:2px;
  top:17px;
  width:175px;
  word-wrap:break-word;
}
#u12389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:50px;
}
#u12389 {
  position:absolute;
  left:1464px;
  top:180px;
  width:191px;
  height:50px;
}
#u12390 {
  position:absolute;
  left:2px;
  top:17px;
  width:187px;
  word-wrap:break-word;
}
#u12391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:50px;
}
#u12391 {
  position:absolute;
  left:0px;
  top:230px;
  width:69px;
  height:50px;
}
#u12392 {
  position:absolute;
  left:2px;
  top:17px;
  width:65px;
  word-wrap:break-word;
}
#u12393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u12393 {
  position:absolute;
  left:69px;
  top:230px;
  width:179px;
  height:50px;
}
#u12394 {
  position:absolute;
  left:2px;
  top:17px;
  width:175px;
  word-wrap:break-word;
}
#u12395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:50px;
}
#u12395 {
  position:absolute;
  left:248px;
  top:230px;
  width:166px;
  height:50px;
}
#u12396 {
  position:absolute;
  left:2px;
  top:17px;
  width:162px;
  word-wrap:break-word;
}
#u12397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:50px;
}
#u12397 {
  position:absolute;
  left:414px;
  top:230px;
  width:205px;
  height:50px;
}
#u12398 {
  position:absolute;
  left:2px;
  top:17px;
  width:201px;
  word-wrap:break-word;
}
#u12399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:50px;
}
#u12399 {
  position:absolute;
  left:619px;
  top:230px;
  width:128px;
  height:50px;
}
#u12400 {
  position:absolute;
  left:2px;
  top:17px;
  width:124px;
  word-wrap:break-word;
}
#u12401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:50px;
}
#u12401 {
  position:absolute;
  left:747px;
  top:230px;
  width:174px;
  height:50px;
}
#u12402 {
  position:absolute;
  left:2px;
  top:17px;
  width:170px;
  word-wrap:break-word;
}
#u12403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:50px;
}
#u12403 {
  position:absolute;
  left:921px;
  top:230px;
  width:203px;
  height:50px;
}
#u12404 {
  position:absolute;
  left:2px;
  top:17px;
  width:199px;
  word-wrap:break-word;
}
#u12405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:50px;
}
#u12405 {
  position:absolute;
  left:1124px;
  top:230px;
  width:161px;
  height:50px;
}
#u12406 {
  position:absolute;
  left:2px;
  top:17px;
  width:157px;
  word-wrap:break-word;
}
#u12407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u12407 {
  position:absolute;
  left:1285px;
  top:230px;
  width:179px;
  height:50px;
}
#u12408 {
  position:absolute;
  left:2px;
  top:17px;
  width:175px;
  word-wrap:break-word;
}
#u12409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:50px;
}
#u12409 {
  position:absolute;
  left:1464px;
  top:230px;
  width:191px;
  height:50px;
}
#u12410 {
  position:absolute;
  left:2px;
  top:17px;
  width:187px;
  word-wrap:break-word;
}
#u12411_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:50px;
}
#u12411 {
  position:absolute;
  left:0px;
  top:280px;
  width:69px;
  height:50px;
}
#u12412 {
  position:absolute;
  left:2px;
  top:17px;
  width:65px;
  word-wrap:break-word;
}
#u12413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u12413 {
  position:absolute;
  left:69px;
  top:280px;
  width:179px;
  height:50px;
}
#u12414 {
  position:absolute;
  left:2px;
  top:17px;
  width:175px;
  word-wrap:break-word;
}
#u12415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:50px;
}
#u12415 {
  position:absolute;
  left:248px;
  top:280px;
  width:166px;
  height:50px;
}
#u12416 {
  position:absolute;
  left:2px;
  top:17px;
  width:162px;
  word-wrap:break-word;
}
#u12417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:50px;
}
#u12417 {
  position:absolute;
  left:414px;
  top:280px;
  width:205px;
  height:50px;
}
#u12418 {
  position:absolute;
  left:2px;
  top:17px;
  width:201px;
  word-wrap:break-word;
}
#u12419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:50px;
}
#u12419 {
  position:absolute;
  left:619px;
  top:280px;
  width:128px;
  height:50px;
}
#u12420 {
  position:absolute;
  left:2px;
  top:17px;
  width:124px;
  word-wrap:break-word;
}
#u12421_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:50px;
}
#u12421 {
  position:absolute;
  left:747px;
  top:280px;
  width:174px;
  height:50px;
}
#u12422 {
  position:absolute;
  left:2px;
  top:17px;
  width:170px;
  word-wrap:break-word;
}
#u12423_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:50px;
}
#u12423 {
  position:absolute;
  left:921px;
  top:280px;
  width:203px;
  height:50px;
}
#u12424 {
  position:absolute;
  left:2px;
  top:17px;
  width:199px;
  word-wrap:break-word;
}
#u12425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:50px;
}
#u12425 {
  position:absolute;
  left:1124px;
  top:280px;
  width:161px;
  height:50px;
}
#u12426 {
  position:absolute;
  left:2px;
  top:17px;
  width:157px;
  word-wrap:break-word;
}
#u12427_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u12427 {
  position:absolute;
  left:1285px;
  top:280px;
  width:179px;
  height:50px;
}
#u12428 {
  position:absolute;
  left:2px;
  top:17px;
  width:175px;
  word-wrap:break-word;
}
#u12429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:50px;
}
#u12429 {
  position:absolute;
  left:1464px;
  top:280px;
  width:191px;
  height:50px;
}
#u12430 {
  position:absolute;
  left:2px;
  top:17px;
  width:187px;
  word-wrap:break-word;
}
#u12431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:50px;
}
#u12431 {
  position:absolute;
  left:0px;
  top:330px;
  width:69px;
  height:50px;
}
#u12432 {
  position:absolute;
  left:2px;
  top:17px;
  width:65px;
  word-wrap:break-word;
}
#u12433_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u12433 {
  position:absolute;
  left:69px;
  top:330px;
  width:179px;
  height:50px;
}
#u12434 {
  position:absolute;
  left:2px;
  top:17px;
  width:175px;
  word-wrap:break-word;
}
#u12435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:50px;
}
#u12435 {
  position:absolute;
  left:248px;
  top:330px;
  width:166px;
  height:50px;
}
#u12436 {
  position:absolute;
  left:2px;
  top:17px;
  width:162px;
  word-wrap:break-word;
}
#u12437_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:50px;
}
#u12437 {
  position:absolute;
  left:414px;
  top:330px;
  width:205px;
  height:50px;
}
#u12438 {
  position:absolute;
  left:2px;
  top:17px;
  width:201px;
  word-wrap:break-word;
}
#u12439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:50px;
}
#u12439 {
  position:absolute;
  left:619px;
  top:330px;
  width:128px;
  height:50px;
}
#u12440 {
  position:absolute;
  left:2px;
  top:17px;
  width:124px;
  word-wrap:break-word;
}
#u12441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:50px;
}
#u12441 {
  position:absolute;
  left:747px;
  top:330px;
  width:174px;
  height:50px;
}
#u12442 {
  position:absolute;
  left:2px;
  top:17px;
  width:170px;
  word-wrap:break-word;
}
#u12443_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:50px;
}
#u12443 {
  position:absolute;
  left:921px;
  top:330px;
  width:203px;
  height:50px;
}
#u12444 {
  position:absolute;
  left:2px;
  top:17px;
  width:199px;
  word-wrap:break-word;
}
#u12445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:50px;
}
#u12445 {
  position:absolute;
  left:1124px;
  top:330px;
  width:161px;
  height:50px;
}
#u12446 {
  position:absolute;
  left:2px;
  top:17px;
  width:157px;
  word-wrap:break-word;
}
#u12447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u12447 {
  position:absolute;
  left:1285px;
  top:330px;
  width:179px;
  height:50px;
}
#u12448 {
  position:absolute;
  left:2px;
  top:17px;
  width:175px;
  word-wrap:break-word;
}
#u12449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:50px;
}
#u12449 {
  position:absolute;
  left:1464px;
  top:330px;
  width:191px;
  height:50px;
}
#u12450 {
  position:absolute;
  left:2px;
  top:17px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12451 {
  position:absolute;
  left:817px;
  top:133px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u12452 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12453 {
  position:absolute;
  left:892px;
  top:128px;
  width:200px;
  height:30px;
}
#u12453_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12454 {
  position:absolute;
  left:1120px;
  top:132px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u12455 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u12456 {
  position:absolute;
  left:1163px;
  top:127px;
  width:200px;
  height:30px;
}
#u12456_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12457 {
  position:absolute;
  left:510px;
  top:133px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u12458 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12459 {
  position:absolute;
  left:582px;
  top:127px;
  width:200px;
  height:30px;
}
#u12459_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u12459_input:disabled {
  color:grayText;
}
#u12460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12460 {
  position:absolute;
  left:222px;
  top:132px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u12461 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u12462 {
  position:absolute;
  left:265px;
  top:127px;
  width:200px;
  height:30px;
}
#u12462_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u12462_input:disabled {
  color:grayText;
}
#u12463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12463 {
  position:absolute;
  left:1396px;
  top:132px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u12464 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12465 {
  position:absolute;
  left:1476px;
  top:127px;
  width:200px;
  height:30px;
}
#u12465_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u12465_input:disabled {
  color:grayText;
}
#u12466 {
  position:absolute;
  left:1734px;
  top:254px;
  width:37px;
  height:271px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12467 {
  position:absolute;
  left:1789px;
  top:246px;
  width:45px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u12468 {
  position:absolute;
  left:222px;
  top:626px;
  width:309px;
  height:32px;
  color:#FF0000;
}
#u12469 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u12470 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
}
#u12471 {
  position:absolute;
  left:222px;
  top:599px;
  width:106px;
  height:16px;
}
#u12472 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u12473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u12473 {
  position:absolute;
  left:369px;
  top:599px;
  width:123px;
  height:16px;
  text-align:center;
}
#u12474 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u12475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
}
#u12475 {
  position:absolute;
  left:541px;
  top:599px;
  width:117px;
  height:16px;
  text-align:center;
}
#u12476 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u12477 {
  position:absolute;
  left:494px;
  top:599px;
  width:43px;
  height:17px;
}
#u12477_input {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#0A96DB;
  text-align:left;
}
#u12478 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1917px;
  height:66px;
  background:inherit;
  background-color:rgba(26, 118, 166, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12479 {
  position:absolute;
  left:4px;
  top:0px;
  width:1917px;
  height:66px;
}
#u12480 {
  position:absolute;
  left:2px;
  top:25px;
  width:1913px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:44px;
}
#u12481 {
  position:absolute;
  left:6px;
  top:12px;
  width:59px;
  height:44px;
}
#u12482 {
  position:absolute;
  left:2px;
  top:14px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u12483 {
  position:absolute;
  left:75px;
  top:17px;
  width:169px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u12484 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u12485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u12485 {
  position:absolute;
  left:1774px;
  top:23px;
  width:103px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u12486 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u12487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u12487 {
  position:absolute;
  left:1733px;
  top:16px;
  width:36px;
  height:36px;
}
#u12488 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12489 {
  position:absolute;
  left:1326px;
  top:24px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u12490 {
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u12489_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12491 {
  position:absolute;
  left:1391px;
  top:24px;
  width:61px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u12492 {
  position:absolute;
  left:16px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u12491_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1A76A6;
}
#u12493 {
  position:absolute;
  left:1462px;
  top:17px;
  width:102px;
  height:33px;
  font-size:16px;
  color:#1A76A6;
}
#u12494 {
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u12495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1A76A6;
}
#u12495 {
  position:absolute;
  left:1574px;
  top:17px;
  width:102px;
  height:33px;
  font-size:16px;
  color:#1A76A6;
}
#u12496 {
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u12497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u12497 {
  position:absolute;
  left:1466px;
  top:21px;
  width:25px;
  height:25px;
}
#u12498 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12499 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:875px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.517647058823529);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#666666;
}
#u12500 {
  position:absolute;
  left:4px;
  top:66px;
  width:208px;
  height:875px;
  font-size:24px;
  color:#666666;
}
#u12501 {
  position:absolute;
  left:2px;
  top:430px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:45px;
  background:inherit;
  background-color:rgba(26, 118, 166, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12502 {
  position:absolute;
  left:1px;
  top:277px;
  width:208px;
  height:45px;
}
#u12503 {
  position:absolute;
  left:2px;
  top:14px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12504 {
  position:absolute;
  left:4px;
  top:325px;
  width:208px;
  height:53px;
}
#u12505 {
  position:absolute;
  left:2px;
  top:18px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u12506 {
  position:absolute;
  left:68px;
  top:83px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u12507 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1A76A6;
}
#u12508 {
  position:absolute;
  left:41px;
  top:341px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1A76A6;
}
#u12509 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12510_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u12510 {
  position:absolute;
  left:70px;
  top:132px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u12511 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12512_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u12512 {
  position:absolute;
  left:70px;
  top:184px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u12513 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12514_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u12514 {
  position:absolute;
  left:70px;
  top:237px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u12515 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u12516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u12516 {
  position:absolute;
  left:71px;
  top:289px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u12517 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u12518 {
  position:absolute;
  left:14px;
  top:178px;
  width:35px;
  height:35px;
}
#u12519 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u12520 {
  position:absolute;
  left:12px;
  top:125px;
  width:37px;
  height:37px;
}
#u12521 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12522 {
  position:absolute;
  left:4px;
  top:119px;
  width:208px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12523 {
  position:absolute;
  left:4px;
  top:169px;
  width:208px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12524 {
  position:absolute;
  left:4px;
  top:71px;
  width:208px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12525_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u12525 {
  position:absolute;
  left:12px;
  top:76px;
  width:35px;
  height:35px;
}
#u12526 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u12527 {
  position:absolute;
  left:11px;
  top:279px;
  width:41px;
  height:41px;
}
#u12528 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12529_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u12529 {
  position:absolute;
  left:14px;
  top:231px;
  width:35px;
  height:35px;
}
#u12530 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12531 {
  position:absolute;
  left:4px;
  top:224px;
  width:208px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12532 {
  position:absolute;
  left:4px;
  top:329px;
  width:208px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12533 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12534_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1665px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12534 {
  position:absolute;
  left:222px;
  top:73px;
  width:1665px;
  height:37px;
}
#u12535 {
  position:absolute;
  left:2px;
  top:10px;
  width:1661px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12536_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12536 {
  position:absolute;
  left:261px;
  top:82px;
  width:138px;
  height:19px;
  font-size:16px;
}
#u12537 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u12538_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u12538 {
  position:absolute;
  left:222px;
  top:77px;
  width:30px;
  height:30px;
}
#u12539 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
  background:inherit;
  background-color:rgba(26, 118, 166, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12540 {
  position:absolute;
  left:222px;
  top:173px;
  width:69px;
  height:30px;
  color:#FFFFFF;
}
#u12541 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u12542_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12542 {
  position:absolute;
  left:299px;
  top:173px;
  width:69px;
  height:30px;
}
#u12543 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u12544_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12544 {
  position:absolute;
  left:376px;
  top:173px;
  width:69px;
  height:30px;
}
#u12545 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u12546_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:37px;
  background:inherit;
  background-color:rgba(16, 174, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12546 {
  position:absolute;
  left:1727px;
  top:73px;
  width:140px;
  height:37px;
  font-size:14px;
  color:#FFFFFF;
}
#u12547 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u12548 {
  position:absolute;
  left:1727px;
  top:73px;
  width:140px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12549 {
  position:absolute;
  left:1791px;
  top:354px;
  width:45px;
  height:171px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
