body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1917px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3680 {
  position:absolute;
  left:218px;
  top:70px;
  width:1677px;
  height:871px;
  overflow:hidden;
  visibility:hidden;
}
#u3680_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1677px;
  height:871px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3680_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1715px;
  height:1049px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.686274509803922);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3681 {
  position:absolute;
  left:-3px;
  top:-56px;
  width:1715px;
  height:1049px;
}
#u3682 {
  position:absolute;
  left:2px;
  top:516px;
  width:1711px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:265px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3683 {
  position:absolute;
  left:604px;
  top:267px;
  width:477px;
  height:265px;
}
#u3684 {
  position:absolute;
  left:2px;
  top:124px;
  width:473px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3685 {
  position:absolute;
  left:671px;
  top:366px;
  width:343px;
  height:22px;
  font-size:18px;
}
#u3686 {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  white-space:nowrap;
}
#u3687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(16, 174, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3687 {
  position:absolute;
  left:687px;
  top:478px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u3688 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u3689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3689 {
  position:absolute;
  left:859px;
  top:478px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u3690 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u3691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
}
#u3691 {
  position:absolute;
  left:1061px;
  top:274px;
  width:12px;
  height:22px;
  font-size:18px;
  color:#666666;
}
#u3692 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u3693 {
  position:absolute;
  left:687px;
  top:478px;
  width:140px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3694 {
  position:absolute;
  left:859px;
  top:478px;
  width:140px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3695 {
  position:absolute;
  left:1048px;
  top:265px;
  width:33px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:2px;
}
#u3696 {
  position:absolute;
  left:604px;
  top:458px;
  width:477px;
  height:1px;
}
#u3697 {
  position:absolute;
  left:2px;
  top:-8px;
  width:473px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1670px;
  height:871px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3698 {
  position:absolute;
  left:218px;
  top:70px;
  width:1670px;
  height:871px;
}
#u3699 {
  position:absolute;
  left:2px;
  top:428px;
  width:1666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u3700 {
  position:absolute;
  left:224px;
  top:83px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u3701 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1671px;
  height:2px;
}
#u3702 {
  position:absolute;
  left:218px;
  top:118px;
  width:1670px;
  height:1px;
}
#u3703 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(16, 174, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u3704 {
  position:absolute;
  left:783px;
  top:855px;
  width:140px;
  height:40px;
  font-size:18px;
  color:#FFFFFF;
}
#u3705 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u3706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3706 {
  position:absolute;
  left:976px;
  top:855px;
  width:140px;
  height:40px;
  font-size:18px;
}
#u3707 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u3708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u3708 {
  position:absolute;
  left:749px;
  top:347px;
  width:82px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u3709 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u3710 {
  position:absolute;
  left:360px;
  top:213px;
  width:82px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u3711 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3712 {
  position:absolute;
  left:841px;
  top:347px;
  width:155px;
  height:19px;
  font-size:16px;
}
#u3713 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u3714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3714 {
  position:absolute;
  left:461px;
  top:213px;
  width:134px;
  height:19px;
  font-size:16px;
}
#u3715 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u3716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1671px;
  height:2px;
}
#u3716 {
  position:absolute;
  left:218px;
  top:265px;
  width:1670px;
  height:1px;
}
#u3717 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u3718 {
  position:absolute;
  left:749px;
  top:292px;
  width:50px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u3719 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u3720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3720 {
  position:absolute;
  left:838px;
  top:292px;
  width:112px;
  height:19px;
  font-size:16px;
}
#u3721 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u3722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1671px;
  height:2px;
}
#u3722 {
  position:absolute;
  left:218px;
  top:816px;
  width:1670px;
  height:1px;
}
#u3723 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u3724 {
  position:absolute;
  left:749px;
  top:213px;
  width:107px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u3725 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u3726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3726 {
  position:absolute;
  left:838px;
  top:213px;
  width:134px;
  height:19px;
  font-size:16px;
}
#u3727 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u3728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3728 {
  position:absolute;
  left:1733px;
  top:75px;
  width:140px;
  height:40px;
}
#u3729 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u3730 {
  position:absolute;
  left:1733px;
  top:75px;
  width:140px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3731 {
  position:absolute;
  left:783px;
  top:855px;
  width:140px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3732 {
  position:absolute;
  left:976px;
  top:855px;
  width:140px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3733 {
  position:absolute;
  left:1566px;
  top:855px;
  width:140px;
  height:40px;
  font-size:18px;
}
#u3734 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u3735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u3735 {
  position:absolute;
  left:360px;
  top:142px;
  width:82px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u3736 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3737 {
  position:absolute;
  left:461px;
  top:142px;
  width:159px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3738 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u3739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u3739 {
  position:absolute;
  left:1162px;
  top:142px;
  width:107px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u3740 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u3741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3741 {
  position:absolute;
  left:1245px;
  top:142px;
  width:134px;
  height:19px;
  font-size:16px;
}
#u3742 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u3743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u3743 {
  position:absolute;
  left:1576px;
  top:142px;
  width:107px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u3744 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u3745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3745 {
  position:absolute;
  left:1693px;
  top:142px;
  width:134px;
  height:19px;
  font-size:16px;
}
#u3746 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u3747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u3747 {
  position:absolute;
  left:350px;
  top:85px;
  width:204px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u3748 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  word-wrap:break-word;
}
#u3749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u3749 {
  position:absolute;
  left:218px;
  top:134px;
  width:100px;
  height:35px;
  color:#FFFFFF;
}
#u3750 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u3751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1671px;
  height:2px;
}
#u3751 {
  position:absolute;
  left:218px;
  top:185px;
  width:1670px;
  height:1px;
}
#u3752 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u3753 {
  position:absolute;
  left:218px;
  top:205px;
  width:100px;
  height:35px;
  color:#FFFFFF;
}
#u3754 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u3755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u3755 {
  position:absolute;
  left:749px;
  top:142px;
  width:107px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u3756 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u3757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3757 {
  position:absolute;
  left:838px;
  top:142px;
  width:134px;
  height:19px;
  font-size:16px;
}
#u3758 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u3759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u3759 {
  position:absolute;
  left:218px;
  top:282px;
  width:100px;
  height:35px;
  color:#FFFFFF;
}
#u3760 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u3761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1671px;
  height:2px;
}
#u3761 {
  position:absolute;
  left:218px;
  top:460px;
  width:1670px;
  height:1px;
}
#u3762 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u3763 {
  position:absolute;
  left:218px;
  top:472px;
  width:100px;
  height:35px;
  color:#FFFFFF;
}
#u3764 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u3765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u3765 {
  position:absolute;
  left:363px;
  top:480px;
  width:70px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u3766 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u3767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1671px;
  height:2px;
}
#u3767 {
  position:absolute;
  left:218px;
  top:671px;
  width:1670px;
  height:1px;
}
#u3768 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u3769 {
  position:absolute;
  left:218px;
  top:689px;
  width:100px;
  height:35px;
  color:#FFFFFF;
}
#u3770 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u3771 {
  position:absolute;
  left:491px;
  top:480px;
  width:710px;
  height:189px;
}
#u3771_input {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:189px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u3772 {
  position:absolute;
  left:1162px;
  top:347px;
  width:82px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u3773 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u3774 {
  position:absolute;
  left:363px;
  top:292px;
  width:50px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u3775 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u3776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3776 {
  position:absolute;
  left:461px;
  top:292px;
  width:112px;
  height:19px;
  font-size:16px;
}
#u3777 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u3778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u3778 {
  position:absolute;
  left:363px;
  top:347px;
  width:72px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u3779 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u3780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3780 {
  position:absolute;
  left:459px;
  top:347px;
  width:167px;
  height:38px;
  font-size:16px;
}
#u3781 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u3782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u3782 {
  position:absolute;
  left:1576px;
  top:284px;
  width:72px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u3783 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u3784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3784 {
  position:absolute;
  left:1659px;
  top:282px;
  width:144px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3785 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u3786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3786 {
  position:absolute;
  left:323px;
  top:867px;
  width:435px;
  height:16px;
  color:#FF0000;
}
#u3787 {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  white-space:nowrap;
}
#u3788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3788 {
  position:absolute;
  left:1254px;
  top:347px;
  width:155px;
  height:19px;
  font-size:16px;
}
#u3789 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u3790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u3790 {
  position:absolute;
  left:360px;
  top:242px;
  width:134px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u3791 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u3792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u3792 {
  position:absolute;
  left:355px;
  top:697px;
  width:134px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u3793 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u3794_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u3794 {
  position:absolute;
  left:363px;
  top:406px;
  width:82px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u3795 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3796 {
  position:absolute;
  left:461px;
  top:406px;
  width:370px;
  height:19px;
  font-size:16px;
}
#u3797 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  word-wrap:break-word;
}
#u3798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3798 {
  position:absolute;
  left:1716px;
  top:855px;
  width:140px;
  height:40px;
  font-size:18px;
}
#u3799 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u3800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u3800 {
  position:absolute;
  left:1576px;
  top:347px;
  width:82px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u3801 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3802 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1917px;
  height:66px;
  background:inherit;
  background-color:rgba(26, 118, 166, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3803 {
  position:absolute;
  left:0px;
  top:0px;
  width:1917px;
  height:66px;
}
#u3804 {
  position:absolute;
  left:2px;
  top:25px;
  width:1913px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:44px;
}
#u3805 {
  position:absolute;
  left:2px;
  top:12px;
  width:59px;
  height:44px;
}
#u3806 {
  position:absolute;
  left:2px;
  top:14px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u3807 {
  position:absolute;
  left:71px;
  top:17px;
  width:169px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u3808 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u3809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u3809 {
  position:absolute;
  left:1770px;
  top:23px;
  width:103px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u3810 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u3811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u3811 {
  position:absolute;
  left:1729px;
  top:16px;
  width:36px;
  height:36px;
}
#u3812 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3813 {
  position:absolute;
  left:1322px;
  top:24px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u3814 {
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u3813_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3815 {
  position:absolute;
  left:1387px;
  top:24px;
  width:61px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u3816 {
  position:absolute;
  left:16px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u3815_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1A76A6;
}
#u3817 {
  position:absolute;
  left:1458px;
  top:17px;
  width:102px;
  height:33px;
  font-size:16px;
  color:#1A76A6;
}
#u3818 {
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u3819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1A76A6;
}
#u3819 {
  position:absolute;
  left:1570px;
  top:17px;
  width:102px;
  height:33px;
  font-size:16px;
  color:#1A76A6;
}
#u3820 {
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u3821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3821 {
  position:absolute;
  left:1462px;
  top:21px;
  width:25px;
  height:25px;
}
#u3822 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3823 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:875px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.517647058823529);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#666666;
}
#u3824 {
  position:absolute;
  left:0px;
  top:66px;
  width:208px;
  height:875px;
  font-size:24px;
  color:#666666;
}
#u3825 {
  position:absolute;
  left:2px;
  top:430px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:45px;
  background:inherit;
  background-color:rgba(26, 118, 166, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3826 {
  position:absolute;
  left:0px;
  top:70px;
  width:208px;
  height:45px;
}
#u3827 {
  position:absolute;
  left:2px;
  top:14px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:211px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3828 {
  position:absolute;
  left:0px;
  top:116px;
  width:208px;
  height:211px;
}
#u3829 {
  position:absolute;
  left:2px;
  top:98px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u3830 {
  position:absolute;
  left:64px;
  top:83px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u3831 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u3832 {
  position:absolute;
  left:8px;
  top:76px;
  width:35px;
  height:35px;
}
#u3833 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1A76A6;
}
#u3834 {
  position:absolute;
  left:28px;
  top:134px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1A76A6;
}
#u3835 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3836 {
  position:absolute;
  left:28px;
  top:185px;
  width:109px;
  height:22px;
  font-size:18px;
}
#u3837 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u3838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3838 {
  position:absolute;
  left:28px;
  top:237px;
  width:91px;
  height:22px;
  font-size:18px;
}
#u3839 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u3840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3840 {
  position:absolute;
  left:28px;
  top:288px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u3841 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3842 {
  position:absolute;
  left:64px;
  top:344px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u3843 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3844 {
  position:absolute;
  left:64px;
  top:396px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u3845 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3846 {
  position:absolute;
  left:64px;
  top:449px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u3847 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3848 {
  position:absolute;
  left:64px;
  top:501px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u3849 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u3850 {
  position:absolute;
  left:8px;
  top:390px;
  width:35px;
  height:35px;
}
#u3851 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u3852 {
  position:absolute;
  left:6px;
  top:337px;
  width:37px;
  height:37px;
}
#u3853 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u3854 {
  position:absolute;
  left:10px;
  top:443px;
  width:34px;
  height:34px;
}
#u3855 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u3856 {
  position:absolute;
  left:7px;
  top:492px;
  width:41px;
  height:41px;
}
#u3857 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:2px;
}
#u3858 {
  position:absolute;
  left:28px;
  top:170px;
  width:180px;
  height:1px;
}
#u3859 {
  position:absolute;
  left:2px;
  top:-8px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:2px;
}
#u3860 {
  position:absolute;
  left:28px;
  top:221px;
  width:180px;
  height:1px;
}
#u3861 {
  position:absolute;
  left:2px;
  top:-8px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:2px;
}
#u3862 {
  position:absolute;
  left:28px;
  top:273px;
  width:180px;
  height:1px;
}
#u3863 {
  position:absolute;
  left:2px;
  top:-8px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3864 {
  position:absolute;
  left:0px;
  top:123px;
  width:208px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3865 {
  position:absolute;
  left:0px;
  top:174px;
  width:208px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3866 {
  position:absolute;
  left:0px;
  top:226px;
  width:208px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3867 {
  position:absolute;
  left:0px;
  top:276px;
  width:208px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3868 {
  position:absolute;
  left:0px;
  top:331px;
  width:208px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3869 {
  position:absolute;
  left:0px;
  top:383px;
  width:208px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3870 {
  position:absolute;
  left:0px;
  top:435px;
  width:208px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3871 {
  position:absolute;
  left:0px;
  top:490px;
  width:208px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u3872 {
  position:absolute;
  left:1162px;
  top:292px;
  width:63px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u3873 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
