body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1917px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4741 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1917px;
  height:66px;
  background:inherit;
  background-color:rgba(26, 118, 166, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4742 {
  position:absolute;
  left:-1px;
  top:0px;
  width:1917px;
  height:66px;
}
#u4743 {
  position:absolute;
  left:2px;
  top:25px;
  width:1913px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:44px;
}
#u4744 {
  position:absolute;
  left:1px;
  top:12px;
  width:59px;
  height:44px;
}
#u4745 {
  position:absolute;
  left:2px;
  top:14px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u4746 {
  position:absolute;
  left:70px;
  top:17px;
  width:169px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u4747 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u4748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u4748 {
  position:absolute;
  left:1769px;
  top:23px;
  width:103px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u4749 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u4750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u4750 {
  position:absolute;
  left:1728px;
  top:16px;
  width:36px;
  height:36px;
}
#u4751 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4752 {
  position:absolute;
  left:1321px;
  top:24px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u4753 {
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u4752_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4754 {
  position:absolute;
  left:1386px;
  top:24px;
  width:61px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u4755 {
  position:absolute;
  left:16px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u4754_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1A76A6;
}
#u4756 {
  position:absolute;
  left:1457px;
  top:17px;
  width:102px;
  height:33px;
  font-size:16px;
  color:#1A76A6;
}
#u4757 {
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u4758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1A76A6;
}
#u4758 {
  position:absolute;
  left:1569px;
  top:17px;
  width:102px;
  height:33px;
  font-size:16px;
  color:#1A76A6;
}
#u4759 {
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u4760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4760 {
  position:absolute;
  left:1461px;
  top:21px;
  width:25px;
  height:25px;
}
#u4761 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4762 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:875px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.517647058823529);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#666666;
}
#u4763 {
  position:absolute;
  left:-1px;
  top:66px;
  width:208px;
  height:875px;
  font-size:24px;
  color:#666666;
}
#u4764 {
  position:absolute;
  left:2px;
  top:430px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:45px;
  background:inherit;
  background-color:rgba(26, 118, 166, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4765 {
  position:absolute;
  left:1px;
  top:124px;
  width:208px;
  height:45px;
}
#u4766 {
  position:absolute;
  left:2px;
  top:14px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u4767 {
  position:absolute;
  left:63px;
  top:83px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u4768 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u4769 {
  position:absolute;
  left:7px;
  top:76px;
  width:35px;
  height:35px;
}
#u4770 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u4771 {
  position:absolute;
  left:63px;
  top:136px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u4772 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u4773 {
  position:absolute;
  left:64px;
  top:192px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u4774 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u4775 {
  position:absolute;
  left:64px;
  top:245px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u4776 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u4777 {
  position:absolute;
  left:64px;
  top:297px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u4778 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u4779 {
  position:absolute;
  left:8px;
  top:186px;
  width:35px;
  height:35px;
}
#u4780 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u4781 {
  position:absolute;
  left:10px;
  top:239px;
  width:34px;
  height:34px;
}
#u4782 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u4783 {
  position:absolute;
  left:7px;
  top:288px;
  width:41px;
  height:41px;
}
#u4784 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4785 {
  position:absolute;
  left:1px;
  top:72px;
  width:208px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4786 {
  position:absolute;
  left:1px;
  top:124px;
  width:208px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4787 {
  position:absolute;
  left:-1px;
  top:179px;
  width:208px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4788 {
  position:absolute;
  left:1px;
  top:232px;
  width:208px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4789 {
  position:absolute;
  left:-1px;
  top:284px;
  width:208px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u4790 {
  position:absolute;
  left:7px;
  top:76px;
  width:35px;
  height:35px;
}
#u4791 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u4792 {
  position:absolute;
  left:7px;
  top:130px;
  width:35px;
  height:35px;
}
#u4793 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4794 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1699px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4795 {
  position:absolute;
  left:219px;
  top:76px;
  width:1699px;
  height:37px;
}
#u4796 {
  position:absolute;
  left:2px;
  top:10px;
  width:1695px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4797 {
  position:absolute;
  left:258px;
  top:85px;
  width:170px;
  height:19px;
  font-size:16px;
}
#u4798 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u4799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4799 {
  position:absolute;
  left:223px;
  top:82px;
  width:25px;
  height:25px;
}
#u4800 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4801 {
  position:absolute;
  left:219px;
  top:123px;
  width:1677px;
  height:801px;
  overflow:hidden;
  visibility:hidden;
}
#u4801_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1677px;
  height:801px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4801_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1715px;
  height:1049px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.686274509803922);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4802 {
  position:absolute;
  left:-3px;
  top:-56px;
  width:1715px;
  height:1049px;
}
#u4803 {
  position:absolute;
  left:2px;
  top:516px;
  width:1711px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:265px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4804 {
  position:absolute;
  left:604px;
  top:267px;
  width:477px;
  height:265px;
}
#u4805 {
  position:absolute;
  left:2px;
  top:124px;
  width:473px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u4806 {
  position:absolute;
  left:671px;
  top:368px;
  width:343px;
  height:22px;
  font-size:18px;
}
#u4807 {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  white-space:nowrap;
}
#u4808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(16, 174, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4808 {
  position:absolute;
  left:687px;
  top:478px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u4809 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u4810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4810 {
  position:absolute;
  left:859px;
  top:478px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u4811 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u4812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
}
#u4812 {
  position:absolute;
  left:1061px;
  top:274px;
  width:12px;
  height:22px;
  font-size:18px;
  color:#666666;
}
#u4813 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u4814 {
  position:absolute;
  left:687px;
  top:478px;
  width:140px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4815 {
  position:absolute;
  left:859px;
  top:478px;
  width:140px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4816 {
  position:absolute;
  left:1048px;
  top:265px;
  width:33px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:2px;
}
#u4817 {
  position:absolute;
  left:604px;
  top:458px;
  width:477px;
  height:1px;
}
#u4818 {
  position:absolute;
  left:2px;
  top:-8px;
  width:473px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1670px;
  height:801px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4819 {
  position:absolute;
  left:219px;
  top:123px;
  width:1670px;
  height:801px;
}
#u4820 {
  position:absolute;
  left:2px;
  top:392px;
  width:1666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u4821 {
  position:absolute;
  left:225px;
  top:136px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u4822 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u4823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1671px;
  height:2px;
}
#u4823 {
  position:absolute;
  left:219px;
  top:171px;
  width:1670px;
  height:1px;
}
#u4824 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(16, 174, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u4825 {
  position:absolute;
  left:791px;
  top:851px;
  width:140px;
  height:40px;
  font-size:18px;
  color:#FFFFFF;
}
#u4826 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u4827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u4827 {
  position:absolute;
  left:984px;
  top:851px;
  width:140px;
  height:40px;
  font-size:18px;
}
#u4828 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u4829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u4829 {
  position:absolute;
  left:786px;
  top:384px;
  width:82px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u4830 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4831 {
  position:absolute;
  left:899px;
  top:384px;
  width:525px;
  height:21px;
  font-size:16px;
}
#u4832 {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  word-wrap:break-word;
}
#u4833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u4833 {
  position:absolute;
  left:361px;
  top:309px;
  width:50px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u4834 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u4835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u4835 {
  position:absolute;
  left:483px;
  top:309px;
  width:112px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u4836 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u4837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u4837 {
  position:absolute;
  left:361px;
  top:489px;
  width:76px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u4838 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u4839 {
  position:absolute;
  left:1659px;
  top:312px;
  width:200px;
  height:30px;
}
#u4839_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u4839_input:disabled {
  color:grayText;
}
#u4840 {
  position:absolute;
  left:483px;
  top:388px;
  width:200px;
  height:30px;
}
#u4840_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u4840_input:disabled {
  color:grayText;
}
#u4841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u4841 {
  position:absolute;
  left:1732px;
  top:851px;
  width:140px;
  height:40px;
  font-size:18px;
}
#u4842 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u4843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1671px;
  height:2px;
}
#u4843 {
  position:absolute;
  left:219px;
  top:823px;
  width:1670px;
  height:1px;
}
#u4844 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4845 {
  position:absolute;
  left:1734px;
  top:128px;
  width:140px;
  height:40px;
}
#u4846 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u4847 {
  position:absolute;
  left:1734px;
  top:128px;
  width:140px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4848 {
  position:absolute;
  left:791px;
  top:851px;
  width:140px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4849 {
  position:absolute;
  left:984px;
  top:851px;
  width:140px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u4850 {
  position:absolute;
  left:1582px;
  top:851px;
  width:140px;
  height:40px;
  font-size:18px;
}
#u4851 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u4852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u4852 {
  position:absolute;
  left:361px;
  top:192px;
  width:82px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u4853 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4854 {
  position:absolute;
  left:461px;
  top:192px;
  width:211px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4855 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u4856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u4856 {
  position:absolute;
  left:1174px;
  top:192px;
  width:107px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u4857 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u4858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u4858 {
  position:absolute;
  left:1274px;
  top:192px;
  width:134px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u4859 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u4860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u4860 {
  position:absolute;
  left:1567px;
  top:192px;
  width:56px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u4861 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u4862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u4862 {
  position:absolute;
  left:1642px;
  top:192px;
  width:75px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u4863 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u4864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1671px;
  height:2px;
}
#u4864 {
  position:absolute;
  left:219px;
  top:288px;
  width:1670px;
  height:1px;
}
#u4865 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u4866 {
  position:absolute;
  left:219px;
  top:184px;
  width:100px;
  height:35px;
  color:#FFFFFF;
}
#u4867 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u4868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u4868 {
  position:absolute;
  left:219px;
  top:481px;
  width:100px;
  height:35px;
  color:#FFFFFF;
}
#u4869 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u4870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1671px;
  height:2px;
}
#u4870 {
  position:absolute;
  left:219px;
  top:432px;
  width:1670px;
  height:1px;
}
#u4871 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u4872 {
  position:absolute;
  left:219px;
  top:301px;
  width:100px;
  height:35px;
  color:#FFFFFF;
}
#u4873 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u4874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u4874 {
  position:absolute;
  left:783px;
  top:192px;
  width:107px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u4875 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u4876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u4876 {
  position:absolute;
  left:892px;
  top:192px;
  width:134px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u4877 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u4878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u4878 {
  position:absolute;
  left:786px;
  top:309px;
  width:82px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u4879 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u4880 {
  position:absolute;
  left:907px;
  top:309px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u4881 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u4882 {
  position:absolute;
  left:361px;
  top:252px;
  width:82px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u4883 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u4884 {
  position:absolute;
  left:443px;
  top:252px;
  width:211px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u4885 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u4886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
  text-align:center;
}
#u4886 {
  position:absolute;
  left:483px;
  top:337px;
  width:112px;
  height:19px;
  font-size:16px;
  color:#FF0000;
  text-align:center;
}
#u4887 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u4888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u4888 {
  position:absolute;
  left:1174px;
  top:309px;
  width:82px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u4889 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u4890 {
  position:absolute;
  left:1295px;
  top:309px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u4891 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u4892 {
  position:absolute;
  left:1567px;
  top:317px;
  width:82px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u4893 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u4894 {
  position:absolute;
  left:361px;
  top:394px;
  width:82px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u4895 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4896 {
  position:absolute;
  left:483px;
  top:484px;
  width:200px;
  height:30px;
}
#u4896_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u4896_input:disabled {
  color:grayText;
}
#u4897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u4897 {
  position:absolute;
  left:786px;
  top:489px;
  width:76px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u4898 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u4899 {
  position:absolute;
  left:908px;
  top:484px;
  width:200px;
  height:30px;
}
#u4899_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u4899_input:disabled {
  color:grayText;
}
#u4900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u4900 {
  position:absolute;
  left:361px;
  top:532px;
  width:112px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u4901 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u4902 {
  position:absolute;
  left:361px;
  top:561px;
  width:983px;
  height:243px;
}
#u4902_input {
  position:absolute;
  left:0px;
  top:0px;
  width:983px;
  height:243px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u4903 {
  position:absolute;
  left:1174px;
  top:489px;
  width:179px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#95D417;
}
#u4904 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  word-wrap:break-word;
}
#u4905 {
  position:absolute;
  left:1363px;
  top:484px;
  width:286px;
  height:30px;
}
#u4905_input {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4906 {
  position:absolute;
  left:647px;
  top:252px;
  width:477px;
  height:32px;
  color:#FF0000;
}
#u4907 {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  white-space:nowrap;
}
#u4908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4908 {
  position:absolute;
  left:626px;
  top:342px;
  width:421px;
  height:32px;
  color:#FF0000;
}
#u4909 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  white-space:nowrap;
}
#u4910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4910 {
  position:absolute;
  left:984px;
  top:295px;
  width:505px;
  height:16px;
  color:#FF0000;
}
#u4911 {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  white-space:nowrap;
}
#u4912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
  text-align:center;
}
#u4912 {
  position:absolute;
  left:1481px;
  top:901px;
  width:342px;
  height:19px;
  font-size:16px;
  color:#FF0000;
  text-align:center;
}
#u4913 {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  word-wrap:break-word;
}
