body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1919px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1919px;
  height:951px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:1919px;
  height:951px;
}
#u25 {
  position:absolute;
  left:2px;
  top:468px;
  width:1915px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:1043px;
  top:552px;
  width:201px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
